
* {
	margin: 0;
	border: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	width: 100%;
	height: 100%;
	padding: 20px;
	background:#f6f6f6 url(img/bg.jpg) repeat;
	box-sizing: border-box;
	overflow: hidden;
    position: relative;
    user-select: none;
}

li {
    list-style-type: none;
}

.stage {
    width: 100%;
	height: 100%;
    display: table;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.stage-cell {
    padding: 20px;
	text-align: center;
	vertical-align: middle;
    display: table-cell;
    position: relative;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.hidden {
    display: none;
}

button {
    opacity: 0.9;
    outline: none;
}
button:hover {
    opacity: 1;
}
button:hover:active {
    opacity: 0.5;
}
button.disable {
    opacity: 0.2;
    pointer-events: none;
}


/* ---------------------
  START
 -------------------- */

.start-logo {
    max-width: 390px;
    width: 100%;
}

.start-buttons > button {
    width: 153px;
    height: 227px;
    margin: 60px 20px 20px;
}

#start-button-online {
    background: url(img/button_online.png);
    background-size: 100%;
}
#start-button-offline {
    background: url(img/button_offline.png);
    background-size: 100%;
}

@keyframes guruguru {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.start-loader {
    width: 110px;
    height: 110px;
    margin: 60px auto 20px;
    padding: 10px;
    border-radius: 50%;
    background: #fff;
}
.start-loader-anim,
.start-loader-anim:before,
.start-loader-anim:after {
    border-radius: 50%;
}
.start-loader-anim:before,
.start-loader-anim:after {
    position: absolute;
    content: '';
}
.start-loader-anim:before {
    width: 57px;
    height: 112px;
    background: #fff;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    transform-origin: 5.2em 5.1em;
    animation: guruguru 2s infinite ease 1.5s;
}
.start-loader-anim {
    font-size: 11px;
    text-indent: -99999em;
    position: relative;
    width: 110px;
    height: 110px;
    box-shadow: inset 0 0 0 1em #ccc;
}
.start-loader-anim:after {
    width: 57px;
    height: 112px;
    background: #fff;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    transform-origin: 0px 5.1em;
    animation: guruguru 2s infinite ease;
}



/* ---------------------
  STAGE
 -------------------- */

#stage ul > li {
	width: 77px;
	height: 114px;
    display: inline-block;
}
#stage ul > li + li {
	margin-left: 20px;
}
#stage ul > li > img {
	width: 77px;
	height: 114px;
	display: block;
}

#stage .stage-talon {
    position: relative;
}
#stage .stage-talon > span {
	width: 77px;
	height: 114px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 114px;
    text-align: center;
    text-shadow: 0 4px 1px rgba(0,0,0,0.8);
    color: #fff;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    pointer-events: none;
}

#stage #stage-field {
    margin: 80px auto;
}
#stage #stage-field > li {
    padding: 15px;
    border-radius: 4px;
	box-shadow: 0 0 5px 1px rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.2);
}
#stage #stage-field > li + li {
	margin-left: 100px;
}



/* ---------------------
  STAMP
 -------------------- */

#stamp {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 11;
}

.stamp-list li {
    margin: 5px;
    float: left;
}
.stamp-list li button {
    width: 80px;
    height: 80px;
    white-space: nowrap;
    text-indent: 120%;
    overflow: hidden;
    border-radius: 3px;
}

#stamp-button-stack {
    background: #fff url(img/stamp/stack_button.png);
    background-size: 100%;
}
#stamp-button-urge {
    background: #fff url(img/stamp/urge_button.png);
    background-size: 100%;
}
#stamp-button-glad {
    background: #fff url(img/stamp/glad_button.png);
    background-size: 100%;
}
#stamp-button-sad {
    background: #fff url(img/stamp/sad_button.png);
    background-size: 100%;
}


@keyframes ochiru {
    0% {
        transform: translate3d(0,-120px,0);
        opacity: 1.0;
    }
    70% {
        opacity: 1.0;
    }
    90% {
        opacity: 0.0;
    }
    100% {
        transform: translate3d(0,200px,0);
        opacity: 0.0;
    }
}

#stampcard {
    pointer-events: none;
    position: relative;
    z-index: 13;
}
#stampcard img {
    width: 80px;
    height: 80px;
    animation: ochiru 1.75s ease-out;
    position: absolute;
    top: 0;
    left: 0;
}



/* ---------------------
  notify
 -------------------- */

#notify {
    min-width: 1em;
    min-height: 1em;
    padding: 1em;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background: rgba(0,0,0,0.4);
    pointer-events: none;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: right 0.3s;
	z-index:13;
}
#notify:empty {
    right: -100%;
    transition: right 0.8s, width 0.8s, height 0.8s;
}


/* ---------------------
  DIALOG
 -------------------- */

#dialog {
	width: 100%;
	height: 100%;
	color: #fff;
	background: rgba(0,0,0,0.66);
	position: absolute;
	top: 0;
	left: 0;
	display: table;
	z-index:10;
}
#dialog > span {
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}
#dialog:empty {
	display: none;
}


/* ---------------------
  DEBUG
 -------------------- */

#console {
    padding: 0.75em;
    font-size: 0.8rem;
    line-height: 1.66;
    color: #fff;
    background: rgba(0,0,0,0.5);
    display: inline-block;
    position: relative;
    z-index: 12;
    user-select: text;
}
#console:empty {
    display: none;
}

