
* {
	margin: 0;
	border: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	padding: 20px;
	background:#f6f6f6 url(img/bg.jpg) repeat;
	box-sizing: border-box;
	overflow: hidden;
}

div#stage {
	width: 100%;
	height: 100%;
	position: relative;
}
div#stage > ul {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}
div#stage > ul > li {
	float: left;
	list-style-type: none;
	position: relative;
	display: block;
}
div#stage > ul > li + li {
	margin-left: 20px;
}
div#stage > ul > li > img {
	width: 77px;
	height: 114px;
	display: block;
	position: relative;
}

div#dialog {
	width: 100%;
	height: 100%;
	color: #fff;
	background: rgba(0,0,0,0.66);
	position: absolute;
	top: 0;
	left: 0;
	display: table;
	z-index:10;
}
div#dialog > span {
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}
div#dialog:empty {
	display: none;
}


/*----------------------------------*/

div#stage > ul#guest-area {
	top: 0;
}

div#stage > ul#field-area {
	margin-top: -57px;
	margin-left: -127px;
	top: 50%;
	left: 50%;
}
div#stage > ul#field-area > li {
	box-shadow: 0 0 5px 1px #fff;
}
div#stage > ul#field-area > li + li {
	margin-left: 100px;
}

div#stage > ul#host-area {
	top: auto;
	bottom: 0;
}